<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


    <body>
        <div id="wrapper">
        
        

            <main>
                <%- body %>
            </main>

       
        </div>
    </body>
</html>